.itemListTitle{
    text-align: center;
}

.rowItemList{
    display: flex;
    justify-content: center;
    padding: 0 20px 20xp 20px;
}

.rowItemSpinner{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.colCategorias{
    text-align: center;
}

.linksCategorias{
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.linksCategorias:hover{
    text-decoration: underline;
    color: #6c757d;;
}

