.rowContador{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.colButton{
    max-width: 50px;
    background-color: white;
    border-color: white;
    color: rgba(51, 51, 51,1);
    font-size: 25px;
    height: 30px;
}

.colContador{
    text-align: center;
}

